@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.team-members {
  padding: 2rem;
  background-color: color-mix(
    in srgb,
    var(--accent-color) 3%,
    var(--bg-tertiary)
  );
  border-radius: 2rem;
  transition: background-color 0.25s ease;

  @media (max-width: 43.75em) {
    padding: 1.25rem;
  }

  @media (max-width: 40.625em) {
    border-radius: 1.8rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;

    min-width: 0;

    &--label {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.1rem;
      color: color-mix(in srgb, var(--accent-color) 85%, transparent);
      letter-spacing: 0.04em;
      user-select: none;
    }

    &--title {
      display: inline-block;
      max-width: 56rem;
      text-transform: none;
      text-rendering: optimizeLegibility;
      text-wrap: balance;
      font-weight: 600;
      font-size: var(--fz-md);
      color: inherit;
      line-height: 1.1;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    margin-top: 1.5rem;
  }
}
