@use '../abstracts/responsive' as bp;

.comparison-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  max-width: 60rem;
  margin-inline: auto;
  margin-bottom: 10rem;

  @include bp.md {
    flex-direction: column;
  }

  &__versus {
    display: grid;
    place-items: center;

    width: 4.8rem;
    height: 4.8rem;
    text-transform: capitalize;
    font-weight: 500;
    font-size: var(--fz-xxs);
    background-color: var(--bg-tertiary);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 100%;
    user-select: none;
    pointer-events: none;
    transition: var(--transition);
  }
}
