@use '../abstracts/responsive' as bp;

.compare-users {
  display: flex;
  justify-content: center;

  padding: 4.8rem 8rem;

  @media (max-width: 56.25em) {
    padding: 4.8rem 3.2rem;
  }

  @media (max-width: 25em) {
    padding: 4.8rem 1.6rem;
  }

  &__container {
    width: 120rem;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
  }

  &__intro {
    margin-bottom: 4.8rem;

    &--title {
      text-transform: initial;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: var(--fz-lg);
      color: var(--text);
      line-height: 1.1;
    }

    &--description {
      font-size: var(--fz-xs);
      color: var(--text-muted);
    }
  }

  &__summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 2.4rem;

    width: 100%;
    margin-bottom: 4.8rem;
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    margin-bottom: 4.8rem;

    @include bp.xl {
      grid-template-columns: 1fr;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @media (max-width: 48em) {
      grid-template-columns: 1fr;
      gap: 5rem;
    }
  }
}
