.compare-stat {
  padding: 1.6rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: 1.2rem;
  transition: var(--transition);

  &.win {
    border-color: var(--color-blue-400);
    box-shadow: 0 0 0 1px var(--color-blue-400) inset;
  }

  &__label {
    font-size: var(--fz-xs);
    color: var(--heading);
  }

  &__count {
    font-weight: 500;
    font-size: 100%;
    color: var(--text-muted);
  }
}
