@use '../abstracts/responsive' as bp;

.compare-insight {
  margin-bottom: 10rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2.4rem;
  }
}
