@use '../abstracts/responsive' as bp;

.compare-users {
  display: flex;
  justify-content: center;

  padding: 4.8rem 8rem;

  @media (max-width: 56.25em) {
    padding: 4.8rem 3.2rem;
  }

  @media (max-width: 25em) {
    padding: 4.8rem 1.6rem;
  }

  &__container {
    width: 120rem;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
  }
}
