.compare-users {
  display: flex;
  justify-content: center;

  padding: 4.8rem 8rem;

  &__container {
    width: 120rem;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.2rem;

    margin-bottom: 4.8rem;

    input {
      display: inline-block;
      text-align: center;
      text-transform: lowercase;
      font-family: var(--font-mono);
      font-weight: 400;
      font-size: var(--fz-xl);
      padding: 1rem;
      background-color: var(--bg-tertiary);
      color: var(--color-blue-800);
      border: 1px solid var(--border);
      border-radius: 0.5rem;
      transition: var(--transition);

      @media (max-width: 48em) {
        font-size: var(--fz-md);
      }

      @media (max-width: 30em) {
        width: 100%;
      }

      &::placeholder {
        text-transform: initial;
        font-weight: 400;
        font-size: var(--fz-sm);
        color: var(--text-muted);
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        background-color: var(--bg-secondary);
      }

      &:disabled {
        opacity: 0.75;
        user-select: none;
        pointer-events: none;
      }
    }

    button {
      display: inline-block;
      text-transform: capitalize;
      font-weight: 500;
      font-size: var(--fz-sm);
      padding: 1rem;
      background-color: var(--color-blue-800);
      color: var(--white);
      border: 1px solid transparent;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: var(--transition);

      @media (max-width: 30em) {
        width: 100%;
      }

      &:hover {
        background-color: var(--color-blue-600);
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        border-radius: 0;
        outline: 3px dashed var(--color-blue-800);
        outline-offset: 3px;
      }

      &:disabled {
        opacity: 0.75;
        user-select: none;
        pointer-events: none;
      }
    }
  }

  &__summary {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.4rem;

    margin-bottom: 4.8rem;
  }

  &__card {
    padding: 1.6rem;
    background-color: var(--bg-tertiary);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    border-radius: 1.2rem;
    transition: var(--transition);

    &.win {
      border-color: var(--color-blue-400);
      box-shadow: 0 0 0 1px var(--color-blue-400) inset;
    }

    &--label {
      font-size: var(--fz-xs);
      color: var(--heading);
    }

    &--count {
      font-weight: 500;
      font-size: 100%;
      color: var(--text-muted);
    }
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    margin-bottom: 4.8rem;
  }

  &__insights {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.8rem;

    padding: 2rem;
    background-color: var(--bg-tertiary);
    color: var(--text-muted);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    border-radius: var(--radius);

    &--text {
      display: inline-flex;
      align-items: center;
      gap: 3px;

      font-size: var(--fz-xs);
      padding: 0.8rem 1.2rem;
      background-color: var(--bg);
      color: currentColor;
      border: 1px solid var(--border);
      border-radius: 0.8rem;
    }
  }

  &__timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 2rem;
    background-color: var(--bg-tertiary);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    border-radius: var(--radius);

    &--heading {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 400;
      color: var(--heading);
      line-height: 1.1;
    }

    &--desc {
      font-size: var(--fz-xs);
      color: var(--text-muted);
      margin-bottom: 2rem;
    }

    svg,
    g {
      &:focus,
      &:focus-visible {
        outline: none;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @media (max-width: 48em) {
      grid-template-columns: 1fr;
      gap: 5rem;
    }
  }
}
