@use '../abstracts/responsive' as bp;

.compare-profiles {
  width: 100%;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

    @include bp.md {
      grid-template-columns: 1fr;
    }
  }
}
