@use '../abstracts/responsive' as bp;

.compare-timeline {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 90rem;
  margin-inline: auto;
  margin-bottom: 10rem;

  &__chart {
    width: 100%;
    min-width: 0;
    min-height: 45rem;
    padding: 2rem;
    background-color: var(--bg-tertiary);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    transition: var(--transition);

    @include bp.md {
      display: none;
      min-height: 35rem;
    }

    &:hover {
      box-shadow: 0 0 2rem color-mix(in srgb, var(--icon) 20%, transparent);
      border-color: color-mix(in srgb, var(--icon) 20%, transparent);
    }

    &--inner {
      width: 100%;
      min-width: 0;
      overflow-x: auto;

      @include bp.md {
        display: none;
      }
    }

    svg,
    g {
      &:focus,
      &:focus-visible {
        outline: none;
      }
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

    width: 100%;
    margin-top: 2.4rem;

    @include bp.md {
      margin-top: 0;
    }

    @include bp.md {
      grid-template-columns: 1fr;
    }
  }
}
