.compare-user-input {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  &__label {
    width: max-content;
    font-weight: 600;
    font-size: var(--fz-sm);
  }

  &__hint {
    font-size: var(--fz-xxs);
    color: var(--text-muted);
  }

  &__field {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    min-height: 5rem;
    padding-inline: 1.4rem;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    transition: var(--transition);

    &:focus-within {
      &:nth-child(2n + 1) {
        border-color: color-mix(in srgb, var(--icon) 20%, transparent);
        box-shadow: 0 0 2rem color-mix(in srgb, var(--icon) 20%, transparent);
      }

      &:nth-child(2n) {
        border-color: color-mix(
          in srgb,
          var(--color-green-300) 20%,
          transparent
        );
        box-shadow: 0 0 2rem
          color-mix(in srgb, var(--color-green-300) 20%, transparent);
      }
    }

    &--input {
      width: 100%;
      height: 100%;
      display: inline-block;
      border: none;
      text-transform: lowercase;
      font-family: var(--font-mono);
      font-weight: 500;
      font-size: var(--fz-xl);
      background-color: transparent;
      color: var(--icon);
      transition: var(--transition);

      @media (max-width: 48em) {
        font-size: var(--fz-md);
      }

      &::placeholder {
        text-transform: initial;
        font-weight: 400;
        font-size: var(--fz-sm);
        color: var(--text-muted);
      }

      &:focus,
      &:focus-visible {
        outline: none;
      }

      &:disabled {
        opacity: 0.75;
        user-select: none;
        pointer-events: none;
      }
    }

    &--clear {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.8rem;
      height: 2.8rem;
      border: none;
      background-color: transparent;
      color: var(--text-muted);
      border-radius: 100%;
      cursor: pointer;
      transition: var(--transition);

      &:focus {
        outline: none;
      }

      &:hover,
      &:focus-visible {
        color: color-mix(in srgb, var(--icon) 50%, transparent);
      }

      &:disabled {
        opacity: 0.75;
        user-select: none;
        pointer-events: none;
      }

      svg {
        width: 2rem;
        height: 2rem;
        color: currentColor;
        stroke: currentColor;
      }
    }
  }
}
