@use '../abstracts/mixins' as *;
@use '../abstracts/responsive' as bp;

.compare-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  max-width: 90rem;
  padding: 3rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-bottom: 10rem;
  transition: var(--transition);

  &:hover {
    border-color: color-mix(in srgb, var(--icon) 20%, transparent);
    box-shadow: 0 0 2rem color-mix(in srgb, var(--icon) 20%, transparent);
  }

  &__field {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 2rem;

    @include bp.md {
      grid-template-columns: 1fr;
    }

    &--swap {
      align-self: flex-end;

      display: grid;
      place-items: center;

      width: 4.8rem;
      height: 4.8rem;
      background-color: transparent;
      color: var(--icon);
      border-radius: 100%;
      border: 1px solid var(--border);
      cursor: pointer;
      transition: var(--transition);

      @include bp.md {
        justify-self: center;
        transform: rotate(90deg);
      }

      &:hover {
        rotate: 180deg;

        @include bp.md {
          rotate: 270deg;
        }
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        @include focus-ring();
      }

      svg {
        width: 2rem;
        height: 2rem;
        color: currentColor;
        stroke: currentColor;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;

    @include bp.md {
      flex-direction: column-reverse;
    }

    &--reset,
    &--submit {
      height: 5rem;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 100%;
      padding-inline: 1.6rem;
      border-radius: var(--radius);
      cursor: pointer;
      transition: var(--transition);

      @include bp.md {
        width: 100%;
      }

      &:focus {
        outline: none;
      }

      &:hover,
      &:focus-visible {
        border-color: color-mix(in srgb, var(--icon) 20%, transparent);
        box-shadow: 0 0 2rem color-mix(in srgb, var(--icon) 20%, transparent);
      }

      &:disabled {
        opacity: 0.75;
        user-select: none;
        pointer-events: none;
      }
    }

    &--reset {
      min-width: 10rem;
      background-color: transparent;
      color: var(--text-muted);
      border: 1px solid var(--border);
    }

    &--submit {
      min-width: 18rem;
      background-color: var(--color-blue-800);
      color: var(--color-white-50);
      border: 1px solid var(--color-blue-800);

      &:active {
        scale: 0.98;
      }

      &:hover {
        transform: translateY(-1px);
      }
    }
  }
}
