.dropdown-menu {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2px;
  background-color: var(--bg-menu-list);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.5rem 3rem -1.5rem;
  border: 1px solid var(--border-tertiary);
  border-top: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;

  &.show {
    visibility: visible;
    opacity: 1;
    z-index: 2000;
  }

  &.hide {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
