@use '../abstracts/mixins' as *;

.footer {
  padding: 4.8rem 8rem;
  border-top: 1px solid var(--border);

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;
    font-size: var(--fz-sm);
    color: var(--card-text);
  }

  &__copyright {
    font-size: inherit;
    color: currentColor;
  }

  &__list {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__item {
    text-transform: initial;
    color: var(--color-blue-800);

    &--link {
      &:link,
      &:visited {
        font-size: inherit;
        padding: 0.5rem;
        color: currentColor;
        @include animated-underline();
      }
    }
  }
}
