@use '../abstracts/responsive' as bp;

.github-search-form {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50rem;
  max-width: 50rem;
  height: 7rem;
  background-color: var(--bg-input);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-top: 2rem;
  position: relative;

  &:hover {
    box-shadow: var(--shadow);
  }

  @media (max-width: 25em) {
    width: 31.1rem;
    max-width: 31.1rem;
  }

  .input {
    flex: 1;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
    color: var(--text-muted);
    cursor: pointer;

    @include bp.sm {
      left: 90%;
      transform: translateX(-90%);
    }

    svg {
      width: 2rem;
      height: 2rem;
      color: currentColor;
      stroke: currentColor;
    }
  }

  .button {
    flex: 0.5;

    @include bp.sm {
      display: none;
    }
  }
}
