.input {
  width: 100%;
  height: 100%;
  display: inline-block;
  border: none;
  text-align: center;
  font-family: var(--font-mono);
  font-weight: 500;
  font-size: var(--fz-xl);
  font-size: 3.2rem;
  margin: 0 auto;
  background-color: transparent;
  color: var(--icon);

  @media (max-width: 48em) {
    font-size: var(--fz-md);
  }

  &::placeholder {
    font-weight: 400;
    font-size: var(--fz-sm);
    color: var(--text-muted);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: var(--bg-secondary);
  }

  &:disabled {
    opacity: 0.75;
    user-select: none;
    pointer-events: none;
  }
}
