@use '../abstracts/responsive' as bp;

.insight-card {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;

  padding: 1.6rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: 1.2rem;
  transition: var(--transition);

  @media (max-width: 25em) {
    padding: 1.2rem;
  }

  @media (max-width: 20em) {
    padding: 0.8rem;
  }

  &:hover {
    border-color: color-mix(in srgb, var(--icon) 20%, transparent);
    box-shadow: 0 0 2rem color-mix(in srgb, var(--icon) 20%, transparent);
    transform: translateY(-2px);
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__icon {
    display: grid;
    place-items: center;

    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.1rem;
    background-color: color-mix(
      in srgb,
      var(--color-blue-400) 20%,
      transparent
    );
    color: var(--icon);
    border-radius: 100%;

    svg {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  &__title-group {
    display: flex;
    align-items: center;
    gap: 0.35rem;
  }

  &__title {
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: 1.52rem;
    color: var(--text);
    line-height: 1.1;
  }

  &__value {
    font-weight: 600;
    font-size: var(--fz-xxs);
    color: var(--text-muted);
  }
}
