.logo {
  display: inline-block;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  padding: 0.5rem;
  line-height: 1.1;
  user-select: none;

  &__link {
    &:link,
    &:visited {
      font-weight: inherit;
      color: inherit;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 3px dashed var(--color-blue-800);
      outline-offset: 3px;
    }

    &--primary {
      font-size: 2.4rem;
      padding: 0 0.5rem;
      background-image: linear-gradient(
        90deg,
        var(--color-blue-800),
        var(--color-blue-400),
        var(--color-blue-400),
        var(--color-blue-800)
      );
      background-size: 300% 300%;
      color: var(--color-white-50);
      border-radius: var(--border-radius);
    }

    &--secondary {
      font-size: 2.2rem;
      color: var(--border);
      color: #395075;
    }
  }
}
