@use '../abstracts/responsive' as bp;

.navbar {
  display: flex;
  justify-content: center;

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  padding: 2rem 8rem;
  background-color: var(--black);
  background-color: #010409;
  background-image: linear-gradient(90deg, #010409, var(--black));
  background-size: 300% 300%;
  color: var(--color-white-50);
  border-bottom: 1px solid transparent;
  z-index: 5000;
  transition: var(--transition);

  @media (max-width: 56.25em) {
    padding: 3.2rem;
  }

  @media (max-width: 25em) {
    padding: 1.6rem;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;

    padding-bottom: 0.5rem;
    background-image: linear-gradient(
      90deg,
      var(--color-blue-800),
      var(--color-blue-400),
      var(--color-blue-400),
      var(--color-blue-800)
    );
    background-size: 300% 300%;

    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  &.scrolled {
    height: var(--nav-scroll-height);
    background-image: none;
    background-color: rgb(from var(--black) rgb / 0.75);
    color: var(--color-blue-800);
    backdrop-filter: blur(1rem);

    .menu-button {
      color: var(--btn-toggle);
    }
  }

  &__container {
    width: 140rem;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include bp.md {
      display: none;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-transform: capitalize;
      font-size: var(--fz-sm);
      padding: 0.5rem;
      color: inherit;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 3px dashed var(--color-blue-800);
      outline-offset: 3px;
    }
  }
}
