.profile-stats-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 1.6rem;
  background-color: var(--gray-light);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  line-height: 1.3;

  &__num {
    font-variant: tabular-nums;
    font-size: 2.4rem;
    color: #f0f6fc;
  }

  &__label {
    text-transform: uppercase;
    font-size: var(--fz-xxs);
    color: rgba(200, 225, 255, 0.7);
    letter-spacing: 1px;
    margin-top: 1.2rem;
  }
}
