@use '../abstracts/mixins' as *;

.recent-users {
  margin-top: 2rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0.75rem;

    &--label {
      font-weight: 600;
      font-size: var(--fz-sm);
      color: var(--text-muted);
    }

    &--clear {
      border: none;
      text-transform: initial;
      font-weight: 400;
      font-size: var(--fz-xxs);
      background-color: transparent;
      color: var(--text-muted);
      cursor: pointer;
      transition: var(--transition);
      position: relative;

      @include animated-underline();

      &:focus-visible {
        outline-color: var(--color-blue-800);
      }

      &:disabled {
        opacity: 0.75;
        user-select: none;
        pointer-events: none;
      }
    }
  }

  &__list {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
}
