@use '../abstracts/responsive' as bp;

.repo-lists {
  padding: 4.8rem 8rem;

  @media (max-width: 56.25em) {
    padding: 3.2rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }
}
