.repo-list {
  &__empty {
    text-align: center;
    padding: 3.2rem;

    p {
      font-weight: 500;
    }

    span {
      font-size: var(--fz-xs);
      color: var(--gray-lightest);
    }
  }

  &__container {
    list-style: none;

    &.grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      gap: 1.6rem;
    }

    &.list {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }
  }
}
