@use '../abstracts/mixins' as *;
@use '../abstracts/responsive' as bp;

.section-card {
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  overflow: hidden;
  transition: var(--transition);

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 1.5rem;
    border-bottom: 1px solid var(--border);
    transition: var(--transition);

    @media (max-width: 40em) {
      flex-direction: column;
      align-items: stretch;
      gap: 1rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-rendering: optimizeLegibility;
    font-weight: 600;
    font-size: var(--fz-xs);
    line-height: 1.1;
    margin-bottom: 0.25rem;
  }

  &__description {
    font-size: var(--fz-xxs);
    color: var(--text-muted);
  }

  &__action {
    display: flex;
    align-items: center;

    @media (max-width: 40em) {
      justify-content: flex-start;
    }

    & > * {
      flex-shrink: 0;

      display: inline-flex !important;
      align-items: center;
      gap: 0.5rem;

      border: none;
      font-weight: 500;
      font-size: var(--fz-xs);
      background-color: transparent;
      color: var(--color-blue-800) !important;
      transition: var(--transition);

      @include animated-underline();

      @media (max-width: 40em) {
        justify-content: flex-start;
      }

      &:hover {
        svg {
          transform: translate(2px, -2px);
        }
      }

      svg {
        width: 1.2rem;
        height: 1.2rem;
        color: currentColor;
        stroke: currentColor;
        opacity: 0.7;
        transition: var(--transition);
      }
    }
  }

  &__content {
    padding: 1.5rem;
  }
}
