.section-header {
  margin-bottom: 2rem;

  &--title {
    display: inline-block;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: var(--fz-md);
    line-height: 1.1;
    margin-bottom: 0.25rem;
  }

  &--description {
    font-size: var(--fz-xs);
    color: var(--text-muted);
    margin-bottom: 2rem;
  }
}
