.stats-card {
  padding: 1.6rem;
  background-color: var(--surface);
  color: var(--text);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  transition: var(--transition);
  cursor: pointer;

  &.active {
    box-shadow: 0 0 0 1px var(--blue-light) inset;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus-visible {
    border-color: var(--blue-light);
    transform: translateY(-4px) scale(0.98);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.8rem;
      height: 2.8rem;
      background-color: var(--bg-icon);
      color: var(--blue-light);
      border-radius: 0.6rem;

      svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: currentColor;
      }
    }

    &--label {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: var(--fz-xs);
      color: var(--heading);
      letter-spacing: 0.5px;
      line-height: 1.1;
    }
  }

  &__body {
    font-weight: 600;
    font-size: 2.6rem;
    font-variant: tabular-nums;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    font-size: var(--fz-xxs);

    &--delta {
      display: flex;
      align-items: center;
      gap: 3px;

      &.green {
        color: var(--success);
      }

      &.red {
        color: var(--danger);
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: currentColor;
      }
    }

    &--hint {
      color: var(--text-muted);
    }
  }
}
