.theme-selector {
  position: fixed;
  bottom: 3rem;
  right: 3rem;

  writing-mode: vertical-rl;
  z-index: 3000;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    width: max-content;
    padding: 3px;
    background-color: var(--bg-theme);
    border: 1px solid var(--border-theme);
    box-shadow: var(--shadow);
    border-radius: 10rem;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    color: var(--color-white-50);
    color: var(--text);
    border-radius: 100%;
    cursor: pointer;
    transition: var(--transition);

    &.active {
      background-color: var(--bg-active-theme);
    }

    span {
      &:focus,
      &:focus-visible {
        outline: none;
      }
    }

    &--desktop {
      display: block;

      @media (max-width: 48.0625em) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @media (max-width: 48em) {
        display: block;
      }
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:hover,
    &:focus-visible {
      background-color: var(--bg-hover-theme);
    }

    &:disabled {
      user-select: none;
      pointer-events: none;
    }

    svg {
      width: 1.75rem;
      height: 1.75rem;
      stroke: currentColor;
      stroke-width: 2px;
    }
  }
}
