.theme {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  &__toggle,
  &__auto {
    display: flex;
    align-items: center;

    background-color: transparent;
    cursor: pointer;
    transition: var(--transition);

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border-radius: 0;
      outline: 3px dashed var(--blue);
      outline-offset: 3px;
    }

    svg {
      width: 1.4rem;
      height: 1.4rem;
      stroke: var(--white);
    }
  }

  &__toggle {
    gap: 0.8rem;

    border: none;
    padding: 0.5rem;

    &:hover {
      opacity: 0.85;
    }

    &--track {
      width: 4.4rem;
      height: 2.2rem;
      padding: 2px;
      background-color: var(--border);
      border-radius: 10rem;
      position: relative;
      transition: var(--transition);
    }

    &--thumb {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 1.8rem;
      height: 1.8rem;
      background-color: var(--blue-light);
      border-radius: 100%;
      transition: var(--transition);

      position: absolute;
      top: 2px;
      left: 2px;

      &.dark {
        transform: translateX(2rem);
      }
    }
  }

  &__auto {
    justify-content: center;

    width: 2.8rem;
    height: 2.8rem;
    text-transform: capitalize;
    font-size: var(--fz-xxs);
    padding: 0.5rem;
    color: var(--white);
    border: 1px solid var(--border);
    border-radius: 0.6rem;
    opacity: 0.6;

    &.active {
      border-color: var(--blue-light);
      opacity: 1;
    }

    &:hover {
      border-color: var(--blue-light);
    }
  }
}
