@use '../abstracts/responsive' as bp;

.timeline-summary {
  width: 100%;
  margin-bottom: 2.4rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    @media (max-width: 62em) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include bp.md {
      grid-template-columns: 1fr;
    }
  }
}
