@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.change-lifecycle {
  padding: 2rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  border-radius: 2rem;
  transition:
    background-color 0.25s ease,
    border-color 0.25s ease;

  @media (max-width: 43.75em) {
    padding: 1.25rem;
  }

  @media (max-width: 40.625em) {
    border-radius: 1.8rem;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: 56.25em) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;

    min-width: 0;

    &--label {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.1rem;
      color: color-mix(in srgb, var(--accent-color) 85%, transparent);
      letter-spacing: 0.04em;
      user-select: none;
    }

    &--title {
      display: inline-block;
      text-transform: none;
      text-rendering: optimizeLegibility;
      text-wrap: balance;
      font-weight: 600;
      font-size: var(--fz-md);
      color: inherit;
      line-height: 1.1;
    }
  }

  &__paragraph {
    max-width: 32rem;
    text-wrap: pretty;
    font-size: var(--fz-xs);
    color: var(--text-muted);
    margin-top: 0.35rem;
    line-height: 1.7;
    transition: color 0.25s ease;
  }

  &__steps {
    display: flex;
    align-items: stretch;

    margin-top: 2rem;

    @media (max-width: 62.5em) {
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}
