@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.termination-path-item {
  display: flex;
  flex-direction: column;

  min-height: 26rem;
  padding: 1.5rem;
  background-color: color-mix(
    in srgb,
    var(--accent-color) 3%,
    var(--bg-tertiary)
  );
  border: 1px solid color-mix(in srgb, var(--accent-color) 16%, transparent);
  border-radius: 1.8rem;
  transition: background-color 0.25s ease;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    &--label {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.07rem;
      color: color-mix(in srgb, var(--accent-color) 85%, transparent);
      letter-spacing: 0.04em;
      user-select: none;
    }
  }

  &__icon {
    flex-shrink: 0;

    display: grid;
    place-items: center;

    width: 4.2rem;
    height: 4.2rem;
    background-color: color-mix(in srgb, var(--accent-color) 12%, transparent);
    color: var(--accent-color);
    border-radius: var(--radius);

    svg {
      width: 2rem;
      height: 2rem;
      color: currentColor;
      stroke: currentColor;
    }
  }

  &__content {
    &--title {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      text-wrap: balance;
      font-weight: 600;
      font-size: var(--fz-sm);
      color: inherit;
      line-height: 1.1;
    }

    &--description {
      text-wrap: pretty;
      font-size: var(--fz-xxs);
      color: var(--text-muted);
      transition: color 0.25s ease;
    }
  }

  &__outcome {
    &--action {
    }

    svg {
      width: 2rem;
      height: 2rem;
      color: currentColor;
      stroke: currentColor;
    }
  }
}
