@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.analytics-accuracy-intro {
  display: grid;
  grid-template-columns: 21rem minmax(min-content, 1fr);
  gap: 2rem;

  padding: 2rem;
  background-color: color-mix(in srgb, var(--accent-color) 2%, transparent);
  border-top: 1px solid color-mix(in srgb, var(--accent-color) 20%, transparent);
  border-bottom: 1px solid
    color-mix(in srgb, var(--accent-color) 10%, transparent);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;

  @media (max-width: 40.625em) {
    grid-template-columns: 1fr;
    gap: 0.8rem;

    padding: 1.4rem;
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--fz-sm);
    letter-spacing: 0.04em;
    color: var(--accent-color);
    position: relative;
    user-select: none;

    svg {
      width: 1.6rem;
      height: 1.6rem;
      color: currentColor;
      stroke: currentColor;
    }

    span {
      font-weight: inherit;
      font-size: inherit;
      color: currentColor;
    }
  }

  &__description {
    max-width: 85rem;
    text-wrap: pretty;
    font-size: var(--fz-xs);
    color: var(--text-muted);
    line-height: 1.85;
    position: relative;
    transition: color 0.25s ease;
  }
}
