.achievement-card {
  display: flex;
  align-items: center;
  align-items: flex-start;
  gap: 0.8rem;
  gap: 1.6rem;

  padding: 2rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  transition: var(--transition);

  &:hover {
    border-color: color-mix(in srgb, var(--icon) 20%, transparent);
    box-shadow: 0 0 2remcolor-mix(in srgb, var(--icon) 7%, transparent);
  }

  &__icon {
    flex-shrink: 0;

    display: grid;
    place-items: center;

    width: 5rem;
    height: 5rem;
    font-size: 2.4rem;
    background-color: rgba(59, 130, 246, 0.12);
    color: var(--icon);
    border-radius: var(--radius);
    user-select: none;
    pointer-events: none;

    svg {
      width: 2.4rem;
      height: 2.4rem;
      color: currentColor;
      stroke: currentColor;
    }
  }

  &__content {
    &--title {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 500;
      font-size: var(--fz-lg);
      color: inherit;
    }

    &--description {
      font-size: var(--fz-xxs);
      color: var(--text-muted);
    }
  }
}
