.achievements {
  &__container {
    width: 100%;
    max-width: 80rem;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
  }
}
