@use '../../abstracts/responsive' as bp;

.current-time-card {
  margin-top: 3rem;

  &__container {
    padding: 2.4rem;
    background-color: var(--bg-tertiary);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    transition: var(--transition);

    @include bp.md {
      padding: 2rem;
    }

    &:hover {
      border-color: color-mix(in srgb, var(--icon) 20%, transparent);
      box-shadow: 0 0 2remcolor-mix(in srgb, var(--icon) 7%, transparent);
      transform: translateY(-4px);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  &__icon {
    flex-shrink: 0;

    display: grid;
    place-items: center;

    width: 4.8rem;
    height: 4.8rem;
    background-color: rgba(59, 130, 246, 0.12);
    color: var(--icon);
    border-radius: var(--radius);
    user-select: none;
    pointer-events: none;

    svg {
      width: 2rem;
      height: 2rem;
      color: currentColor;
      stroke: currentColor;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__title {
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: var(--fz-lg);
    line-height: 1.1;
  }

  &__description {
    font-size: var(--fz-xs);
    color: var(--text-muted);
  }

  &__body {
    margin-top: 2rem;
  }

  &__time {
    display: block;
    font-family: var(--font-mono);
    font-weight: 700;
    font-size: 3rem;
    font-variant: tabular-nums;
    letter-spacing: -1px;

    @include bp.md {
      font-size: 2.5rem;
    }
  }

  &__timezone {
    flex-shrink: 0;

    display: flex;
    align-items: center;
    gap: 0.8rem;

    color: var(--text-muted);

    svg {
      width: 1.6rem;
      height: 1.6rem;
      color: currentColor;
      stroke: currentColor;
    }

    &--value {
      font-size: var(--fz-sm);
    }
  }
}
