@use '../../abstracts/responsive' as bp;

.current-time-card {
  min-height: 100%;
  padding: 2.4rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  transition: var(--transition);

  &:hover {
    border-color: color-mix(in srgb, var(--icon) 20%, transparent);
    box-shadow: 0 0 2remcolor-mix(in srgb, var(--icon) 7%, transparent);
    transform: translateY(-4px);
  }

  &__container {
    height: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    @media (max-width: 67.5em) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include bp.md {
      flex-direction: row;
    }

    @media (max-width: 36.25em) {
      flex-direction: row;
    }
  }

  &__icon {
    flex-shrink: 0;

    display: grid;
    place-items: center;

    width: 4.8rem;
    height: 4.8rem;
    background-color: color-mix(in srgb, var(--icon) 7%, transparent);
    color: var(--icon);
    border-radius: var(--radius);
    user-select: none;
    pointer-events: none;

    svg {
      width: 2rem;
      height: 2rem;
      color: currentColor;
      stroke: currentColor;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__title {
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    font-size: var(--fz-lg);
    line-height: 1.1;
  }

  &__description {
    font-size: var(--fz-xs);
    color: var(--text-muted);
  }

  &__body {
    user-select: none;
    pointer-events: none;
    margin-top: 2rem;
  }

  &__time {
    display: block;
    font-family: var(--font-mono);
    font-variant: tabular-nums;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: -2px;
    line-height: 1.1;

    @media (max-width: 68.75em) {
      font-size: 2.5rem;
    }

    @include bp.md {
      font-size: 2.5rem;
    }
  }

  &__timezone {
    flex-shrink: 0;

    display: inline-flex;
    align-items: center;
    gap: 0.8rem;

    padding: 0.8rem 1.2rem;
    background-color: color-mix(in srgb, var(--icon) 7%, transparent);
    color: var(--text-muted);
    border: 1px solid color-mix(in srgb, var(--icon) 20%, transparent);
    border-radius: 10rem;
    transition: var(--transition);
    margin-top: 1.4rem;

    svg {
      width: 1.6rem;
      height: 1.6rem;
      color: currentColor;
      stroke: currentColor;
    }

    &--value {
      font-size: var(--fz-sm);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 2rem;

    &--week,
    &--date {
      font-family: var(--font-mono);
      font-size: var(--fz-xxs);
      color: var(--text-muted);
    }
  }
}
