.latest-repositories {
  margin-top: 3rem;

  &__container {
  }

  &__heading {
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;

    margin-top: 2rem;
  }
}
