@use '../../abstracts/responsive' as bp;

.profile-hero {
  text-align: center;
  padding: 3rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  overflow: hidden;
  position: relative;
  isolation: isolate;
  transition: var(--transition);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    margin-top: 2rem;

    img {
      @include bp.md {
        width: 9rem;
        height: 9rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--name {
      display: inline-block;
      max-width: 95%;
      text-align: center;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 700;
      font-size: 3rem;
      color: inherit;
      line-height: 1.1;
      overflow: hidden;

      @include bp.md {
        font-size: 2.4rem;
      }
    }

    &--username {
      font-family: var(--font-mono);
      font-weight: lighter;
      font-size: 100%;
      color: var(--text-muted);
      margin-top: 0.4rem;
    }

    &--bio {
      max-width: 55rem;
      color: var(--text-muted);
      margin-inline: auto;
      margin-top: 1.6rem;
    }

    &--joined {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;

      width: fit-content;
      font-family: var(--font-mono);
      font-size: var(--fz-sm);
      padding: 0.8rem 1.4rem;
      margin-inline: auto;
      background-color: color-mix(in srgb, var(--icon) 7%, transparent);
      border: 1px solid color-mix(in srgb, var(--icon) 20%, transparent);
      border-radius: 10rem;
      transition: var(--transition);
      user-select: none;
      pointer-events: none;
      margin-top: 2rem;

      strong {
        font-weight: 500;
        color: inherit;
      }

      span {
        color: var(--text-muted);
      }
    }
  }
}
