@use '../../abstracts/responsive' as bp;

.profile-meta {
  margin-top: 4rem;

  &__container {
    width: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    @media (max-width: 62em) {
      grid-template-columns: 1fr;
    }
  }
}
