@use '../../abstracts/responsive' as bp;

.profile-meta {
  padding: 2rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  transition: var(--transition);

  &__container {
    display: flex;
    flex-direction: column;
  }
}
