.profile-metric {
  padding: 2rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  cursor: default;
  transition: var(--transition);

  &:hover {
    border-color: color-mix(in srgb, var(--icon) 20%, transparent);
    box-shadow: 0 0 2rem color-mix(in srgb, var(--icon) 7%, transparent);
    transform: translateY(-4px);
  }

  &__icon {
    flex-shrink: 0;

    display: grid;
    place-items: center;

    width: 4.8rem;
    height: 4.8rem;
    background-color: color-mix(in srgb, var(--icon) 7%, transparent);
    color: var(--icon);
    border-radius: var(--radius);

    svg {
      width: 2rem;
      height: 2rem;
      color: currentColor;
      stroke: currentColor;
    }
  }

  &__content {
    margin-top: 1.6rem;
    margin-top: 2rem;

    &--value {
      display: block;
      font-family: var(--font-mono);
      font-variant: tabular-nums;
      font-weight: 700;
      font-size: 3.4rem;
      color: var(--heading);
      color: inherit;
      line-height: 1.1;
    }

    &--label {
      display: block;
      text-transform: capitalize;
      font-size: var(--fz-sm);
      color: var(--text-muted);
      margin-top: 0.6rem;
    }
  }
}
