@use '../../abstracts/responsive' as bp;

.profile-meta-card {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  padding: 1.5rem 0;
  color: var(--text-muted);
  transition: var(--transition);

  &:not(:last-child) {
    border-bottom: 1px solid var(--border);
  }

  &:hover {
    transform: translateY(-4px);

    &:not(:last-child) {
      border-color: color-mix(in srgb, var(--icon) 20%, transparent);
    }
  }

  &__icon {
    flex-shrink: 0;

    display: grid;
    place-items: center;

    width: 4.5rem;
    height: 4.5rem;
    background-color: color-mix(in srgb, var(--icon) 7%, transparent);
    color: var(--icon);
    border-radius: var(--radius);

    svg {
      width: 2rem;
      height: 2rem;
      color: currentColor;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    &--label {
      text-transform: capitalize;
      font-size: var(--fz-xs);
      color: var(--text-muted);
    }

    &--value {
      font-weight: 500;
      font-size: var(--fz-md);
      color: var(--text);
      word-break: break-word;
      margin-top: 0.5rem;
    }
  }
}
