@use '../../abstracts/responsive' as bp;

.profile-client {
  display: flex;
  justify-content: center;

  padding: 4.8rem 8rem;

  @media (max-width: 56.25em) {
    padding: 4.8rem 3.2rem;
  }

  @media (max-width: 25em) {
    padding: 4.8rem 1.6rem;
  }

  &__container {
    width: 120rem;
    height: 100%;
    min-height: 100vh;
    margin-inline: auto;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
  }

  &__hero {
    display: grid;
    grid-template-columns: minmax(30rem, 1fr);
    gap: 2rem;
    align-items: start;

    @media (max-width: 62em) {
      grid-template-columns: 1fr;
    }
  }

  &__side {
    width: 100%;
    max-width: 100rem;
    margin-inline: auto;

    // display: flex;
    // flex-direction: row-reverse;
    // justify-content: center;
    // gap: 2rem;

    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(28rem, 1fr);
    align-items: stretch;
    gap: 2rem;

    @media (max-width: 62em) {
      grid-template-columns: 1fr;
    }

    // @media (max-width: 36.25em) {
    //   flex-direction: column;
    // }
  }

  &__meta,
  &__achievements,
  &__repositories {
    margin-top: 8rem;
  }
}
