@use '../../abstracts/responsive' as bp;

.profile-stats {
  width: 100%;
  max-width: 80rem;
  max-width: 100rem;
  margin-inline: auto;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;

    @media (max-width: 62em) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include bp.md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
