@use '../../abstracts/responsive' as bp;

.profile-stats {
  width: 100%;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;

    width: 100%;

    @media (max-width: 62em) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include bp.md {
      grid-template-columns: 1fr;
    }
  }
}
