@use '../../abstracts/responsive' as bp;

.profile-stats {
  flex: 3;
  width: 100%;

  @media (max-width: 67.5em) {
    flex: 2.5;
  }

  @include bp.md {
    flex: 1.5;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;

    width: 100%;

    @media (max-width: 62em) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include bp.md {
      grid-template-columns: 1fr;
    }
  }
}
