.repository-card {
  padding: 2rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  transition: var(--transition);

  &:hover {
    transform: translateY(-4px);
  }
}
