@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.github-auth-note {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1.25rem;
  background-color: color-mix(in srgb, var(--accent-color) 2.5%, transparent);
  border: 1px solid color-mix(in srgb, var(--accent-color) 16%, transparent);
  border-radius: 1.8rem;

  &__icon {
    flex-shrink: 0;

    display: grid;
    place-items: center;

    width: 3.8rem;
    height: 3.8rem;
    background-color: color-mix(in srgb, var(--accent-color) 12%, transparent);
    color: var(--accent-color);
    border-radius: 1rem;

    svg {
      width: 1.8rem;
      height: 1.8rem;
      color: currentColor;
      stroke: currentColor;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    min-width: 0;

    &--title {
      display: inline-block;
      text-transform: initial;
      text-rendering: optimizeLegibility;
      text-wrap: balance;
      font-weight: 600;
      font-size: var(--fz-sm);
      color: inherit;
      line-height: 1.1;
    }

    &--description {
      text-wrap: pretty;
      font-size: var(--fz-xxs);
      color: var(--text-muted);
      line-height: 1.7;
      transition: color 0.25s ease;
    }
  }
}
