@use '../../abstracts/mixins' as *;
@use '../../abstracts/animation';
@use '../../abstracts/responsive' as bp;

.recently-viewed {
  margin-top: 5.6rem;

  &__header {
    margin-bottom: 1.6rem;

    &--description {
      text-wrap: pretty;
      margin-top: 0.5rem;
      font-size: var(--fz-xxs);
      color: var(--text-muted);
      line-height: 1.8;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--accent);
      stroke: currentColor;
    }

    h2 {
      display: inline-block;
      text-transform: none;
      text-rendering: optimizeLegibility;
      text-wrap: balance;
      font-weight: 600;
      font-size: 1.5rem;
      color: inherit;
      line-height: 1.1;
    }
  }

  &__list {
    background-color: var(--bg-tertiary);
    border: 1px solid var(--border);
    border-radius: 1.4rem;
    overflow: hidden;
    transition:
      background-color 0.25s ease,
      border-color 0.25s ease;
  }
}
