@use '../../abstracts/mixins' as *;
@use '../../abstracts/animation';
@use '../../abstracts/responsive' as bp;

.saved-metric {
  display: flex;
  flex-direction: column;
  gap: 3px;

  min-width: 0;

  &__value {
    display: flex;
    align-items: center;
    gap: 4px;

    font-weight: 600;
    font-size: var(--fz-xs);
    color: inherit;

    svg {
      width: 1.2rem;
      height: 1.2rem;
      color: var(--accent-color);
      stroke: currentColor;
    }
  }

  &__label {
    display: block;
    font-size: 1.1rem;
    color: var(--text-muted);
    transition: color 0.25s ease;
  }
}
