.repo-health-skeleton {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1rem;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    transition: var(--transition);
  }
}
