.repo-overview-skeleton {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;

  &__card {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1.6rem;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    transition: var(--transition);
  }

  &__content {
    width: 100%;

    display: flex;
    flex-direction: column;
  }
}
