@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.docs-feature {
  position: relative;
  padding: 2rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  overflow: hidden;
  isolation: isolate;
  transition:
    background-color 0.25s ease,
    border-color 0.25s ease;

  &::before {
    content: '';

    position: absolute;
    inset: 0 auto 0 0;

    width: 3px;
    background-color: var(--accent-color);
    border-radius: 3px 0 0 3px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    min-width: 0;

    &--title {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      text-wrap: balance;
      font-weight: 600;
      font-size: var(--fz-sm);
      color: inherit;
      line-height: 1.1;
    }

    &--description {
      text-wrap: pretty;
      font-size: var(--fz-xs);
      color: var(--text-muted);
      transition: color 0.25s ease;
    }
  }
}
