@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.how-we-use-your-information {
  padding: 8rem;

  @media (max-width: 56.25em) {
    padding: 8rem 3.2rem;
  }

  @include bp.md {
    padding: 5rem 3.2rem;
  }

  @media (max-width: 25em) {
    padding: 5rem 1.6rem;
  }

  @media (prefers-reduced-motion: reduce) {
    & > * {
      animation: none !important;
      transition: none !important;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 5vw, 4rem);

    width: 100%;
    max-width: 85rem;
    margin-inline: auto;
  }

  &__timeline {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;

    position: relative;
    width: 100%;
    max-width: 30rem;
    margin-inline: auto;
    margin-bottom: 4rem;

    &::before {
      content: '';

      position: absolute;
      top: 2rem;
      bottom: 2rem;
      left: 2rem;

      width: 2px;
      background-image: linear-gradient(to bottom, var(--border), transparent);
      z-index: -1;
      transition: var(--transition);
    }
  }
}
