@use '../../abstracts/mixins' as *;
@use '../../abstracts/animation';
@use '../../abstracts/responsive' as bp;

.docs-root-layout {
  min-height: 100vh;

  &__body {
    display: grid;
    grid-template-columns: 24.8rem minmax(min-content, 1fr) 22rem;

    width: min(100%, 168rem);
    margin-inline: auto;
    padding-inline: 8rem;

    @media (max-width: 56.25em) {
      padding-inline: 3.2rem;
    }

    @media (max-width: 25em) {
      padding-inline: 1.6rem;
    }

    @include bp.xl {
      grid-template-columns: 24.8rem minmax(min-content, 1fr) 19rem;
    }

    @include bp.lg {
      grid-template-columns: 24.8rem minmax(min-content, 1fr);
    }

    @include bp.md {
      display: block;
    }
  }

  &__main {
    min-width: 0;
    padding: 5.6rem clamp(2.4rem, 4vw, 7.2rem) 9.6rem;

    @include bp.xl {
      padding-inline: 4rem;
    }

    @include bp.md {
      padding: 3.2rem 0 7.2rem;
    }
  }
}
