@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.browser-storage-overview {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  position: relative;
  padding: 2rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  border-radius: 1.8rem;
  overflow: hidden;
  isolation: isolate;
  transition:
    background-color 0.25s ease,
    border-color 0.25s ease;

  @media (max-width: 40em) {
    padding: 1.5rem;
  }

  &::before {
    content: '';

    position: absolute;
    inset: 0;

    background-image: radial-gradient(
      circle at top right,
      color-mix(in srgb, var(--icon) 8%, transparent),
      transparent 70%
    );

    pointer-events: none;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--badge {
      flex-shrink: 0;

      display: inline-flex;
      align-items: center;
      justify-content: center;

      width: fit-content;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.1rem;
      white-space: nowrap;
      letter-spacing: 0.04em;
      padding: 0.625rem 1rem;
      background-color: color-mix(in srgb, var(--icon) 7%, transparent);
      color: var(--icon);
      border: 1px solid color-mix(in srgb, var(--icon) 12%, transparent);
      border-radius: 100rem;
      line-height: 1.4;
      user-select: none;
    }

    &--title {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      text-wrap: balance;
      font-weight: 600;
      font-size: clamp(var(--fz-xl), 4vw, 3rem);
      color: inherit;
      line-height: 1.1;
    }

    &--description {
      max-width: 53rem;
      text-wrap: pretty;
      font-size: var(--fz-xs);
      color: var(--text-muted);
      line-height: 1.8;
      transition: var(--transition);
    }
  }

  &__table {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
