@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.storage-summary {
  position: sticky;
  top: 6rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  border-radius: 1.8rem;
  transition: border 0.25s ease;
}
