@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.mission-timeline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
