@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.mission-content {
  display: flex;
  flex-direction: column;

  @media (max-width: 62em) {
    order: 1;
  }
}
