@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.mission-timeline-section {
  margin-top: 4rem;

  @media (max-width: 62em) {
    margin-top: 3rem;
  }

  &__header {
    margin-bottom: 2.5rem;

    &--label {
      text-transform: uppercase;
      font-weight: 600;
      font-size: var(--fz-xxs);
      color: var(--icon);
      letter-spacing: 0.08em;
      margin-bottom: 0.75rem;
    }

    &--title {
      display: inline-block;
      text-transform: initial;
      text-rendering: optimizeLegibility;
      font-weight: 700;
      font-size: var(--fz-lg);
      color: inherit;
      line-height: 1.1;
      margin-bottom: 1rem;

      @include bp.md {
        font-size: var(--fz-md);
      }
    }

    &--description {
      max-width: 62rem;
      font-size: var(--fz-xxs);
      color: var(--text-muted);
      line-height: 1.8;
    }
  }
}
