@use '../../abstracts/mixins' as *;
@use '../../abstracts/animation';
@use '../../abstracts/responsive' as bp;

.mission-content {
  display: flex;
  flex-direction: column;

  @media (max-width: 62em) {
    order: 1;
  }

  &__badge {
    align-self: flex-start;

    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--fz-xxs);
    padding: 0.6rem 1rem;
    background-color: color-mix(in srgb, var(--icon) 7%, transparent);
    color: var(--icon);
    border: 1px solid rgba(91, 140, 255, 0.25);
    border-radius: 10rem;
    letter-spacing: 0.05em;
    user-select: none;
    pointer-events: none;

    @media (max-width: 25em) {
      font-size: 1.1rem;
    }
  }

  &__title {
    max-width: 70rem;
    font-weight: 700;
    font-size: clamp(2.5rem, 4vw, 4rem);
    color: var(--text);
    line-height: 1.1;
    margin-top: 1.5rem;

    @include bp.xl {
      font-size: clamp(var(--fz-xxl), 4vw, 3.25rem);
    }

    @include bp.md {
      font-size: var(--fz-xl);
    }

    @media (max-width: 25em) {
      font-size: var(--fz-lg);
    }
  }

  &__description {
    max-width: 64rem;
    font-size: var(--fz-xxs);
    color: var(--text-muted);
    line-height: 1.9;
    margin-top: 1.5rem;
  }
}
