@use '../../abstracts/mixins' as *;
@use '../../abstracts/animation';
@use '../../abstracts/responsive' as bp;

.mission-principle-card {
  position: relative;

  display: flex;
  align-items: flex-start;
  gap: 1.25rem;

  padding: 1.5rem;
  // background-image: linear-gradient(
  //   180deg,
  //   rgba(255, 255, 255, 0.05),
  //   rgba(255, 255, 255, 0.03)
  // );
  background-color: var(--bg-tertiary);
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  border: 1px solid var(--border);
  border-radius: 2rem;
  overflow: hidden;
  transition: var(--transition);

  @include bp.md {
    padding: 1.25rem;
  }

  @media (max-width: 36em) {
    flex-direction: column;
  }

  &::before {
    content: '';
    position: absolute;
    top: -8rem;
    right: -6rem;

    width: 18rem;
    height: 18rem;
    background-color: color-mix(in srgb, var(--accent-color) 18%, transparent);
    filter: blur(6rem);
    border-radius: 100%;
    opacity: 0;
    transition: var(--transition);
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover {
    transform: translateY(-0.6rem);
    border-color: var(--accent-color);
    box-shadow: 0 0 2rem
      color-mix(in srgb, var(--accent-color) 25%, transparent);

    .mission-principle-card__icon {
      transform: rotate(-8deg) scale(1.08);
    }
  }

  &:focus-within {
    border-radius: 0;

    @include focus-ring();
  }

  &__icon {
    flex-shrink: 0;

    display: grid;
    place-items: center;

    width: 6.4rem;
    height: 6.4rem;
    background-color: color-mix(in srgb, var(--accent-color) 16%, transparent);
    color: var(--accent-color);
    border: 1px solid color-mix(in srgb, var(--accent-color) 30%, transparent);
    border-radius: 1.8rem;
    transition: var(--transition);

    @include bp.md {
      width: 5.6rem;
      height: 5.6rem;
    }

    @media (max-width: 36em) {
      margin-bottom: 0.5rem;
    }

    svg {
      width: 2.4rem;
      height: 2.4rem;
      color: currentColor;
      stroke: currentColor;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    &--title {
      display: inline-block;
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 700;
      font-size: var(--fz-xs);
      color: inherit;
    }

    &--description {
      font-size: var(--fz-xxs);
      color: var(--text-muted);
      line-height: 1.8;
    }
  }
}
