@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.api-errors-client {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    gap: 1.6rem;

    margin: 2.8rem 0 4rem;

    @media (max-width: 43.75em) {
      grid-template-columns: 1fr;
    }
  }

  &__list,
  &__flow {
    display: grid;
    gap: 1.2rem;

    margin: 2.4rem 0 3.2rem;
  }
}
