.commits {
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem 0;
    border-bottom: 1px solid var(--border);
    transition: var(--transition);

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__hash {
    min-width: 7rem;
    text-align: center;
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
    padding: 0.35rem 0.65rem;
    background-color: var(--bg-card-secondary);
    background-color: color-mix(in srgb, var(--icon) 20%, transparent);
    background-color: var(--border);
    border: 1px solid var(--border);
    border-radius: 10rem;
    transition: var(--transition);
  }

  &__content {
    flex: 1;

    &--message {
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: var(--fz-sm);
      color: inherit;
      line-height: 1.1;
      margin-bottom: 0.25rem;
    }

    &--author {
      font-size: var(--fz-xs);
      color: var(--text-muted);
    }
  }

  &__date {
    font-size: var(--fz-xxs);
    color: var(--text-muted);
  }
}
