@use '../../abstracts/responsive' as bp;

.repo-hero {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;

  padding: 2rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  transition: var(--transition);

  @include bp.md {
    flex-direction: column;
  }

  &:hover {
    border-color: color-mix(in srgb, var(--icon) 20%, transparent);
    box-shadow: 0 0 2rem color-mix(in srgb, var(--icon) 20%, transparent);
  }

  &__avatar {
    display: grid;
    place-items: center;

    width: 7.2rem;
    height: 7.2rem;
    font-weight: 700;
    font-size: 1.25rem;
    background-color: color-mix(in srgb, var(--icon) 20%, transparent);
    color: var(--icon);
    border: 1px solid color-mix(in srgb, var(--icon) 20%, transparent);
    border-radius: 1.8rem;
    user-select: none;
    pointer-events: none;
    transition: var(--transition);
  }

  &__content {
    flex: 1;
  }

  &__label {
    display: inline-block;
    text-transform: capitalize;
    font-size: 0.8rem;
    font-size: var(--fz-xxs);
    color: var(--text-muted);
    margin-bottom: 0.5rem;
  }

  &__title {
    text-transform: initial;
    text-rendering: optimizeLegibility;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: var(--font-mono);
    font-weight: 500;
    line-height: 1.1;
    overflow: hidden;
    margin-bottom: 0.75rem;
  }

  &__description {
    max-width: 70ch;
    font-size: var(--fz-sm);
    color: var(--text-muted);
    line-height: 1.3;
  }

  &__actions {
    &--link {
      &:link,
      &:visited {
      }
    }
  }
}
