.repo-facts {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1.25rem;
  background-color: var(--bg-card-secondary);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  transition: var(--transition);

  &__title {
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    font-size: var(--fz-sm);
    line-height: 1.1;
    margin-bottom: 1rem;
  }
}
