.repo-snapshot-item {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;

  padding: 1rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  border-radius: 0.875rem;
  transition: var(--transition);

  &:hover {
    transform: translateY(-2px);
    border-color: color-mix(in srgb, var(--icon) 20%, transparent);
  }

  &__icon {
    flex-shrink: 0;

    display: grid;
    place-items: center;

    width: 2.75rem;
    height: 2.75rem;
    background-color: color-mix(in srgb, var(--icon) 12%, transparent);
    color: var(--icon);
    border: 1px solid color-mix(in srgb, var(--icon) 20%, transparent);
    border-radius: 100%;
    user-select: none;
    pointer-events: none;

    svg {
      width: 1.4rem;
      height: 1.4rem;
      color: currentColor;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &--label {
      text-transform: capitalize;
      font-size: var(--fz-xxs);
      color: var(--text-muted);
    }

    &--value {
      font-weight: 600;
      font-size: var(--fz-xs);
      font-variant-numeric: tabular-nums;
    }
  }
}
