@use '../../abstracts/responsive' as bp;

.repo-sidebar {
  position: sticky;
  top: 6rem;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  @include bp.lg {
    position: static;
  }
}
