.repo-health {
  &__list {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    text-transform: capitalize;
    font-size: var(--fz-xs);
    padding: 1rem;
    background-color: var(--bg-card-secondary);
    border: 1px solid var(--border);
    border-radius: 0.875rem;
    color: var(--text-muted);
    transition: var(--transition);

    &--label {
      text-transform: capitalize;
      font-size: 100%;
      color: currentColor;
    }

    &--value {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      font-weight: 600;
      font-size: 100%;
      color: var(--text);
    }

    .status-dot {
      width: 1.2rem;
      height: 1.2rem;
      display: inline-block;
      margin-right: 0.5rem;
      background-color: #22c55e;
      border-radius: 100%;
      user-select: none;
      pointer-events: none;
    }
  }
}
