@use '../../abstracts/responsive' as bp;

.repo-snapshot {
  padding: 1.25rem;
  background-color: var(--bg-card-secondary);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  transition: var(--transition);

  &__header {
    margin-bottom: 1rem;

    &--title {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 600;
      font-size: var(--fz-md);
      line-height: 1.1;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.875rem;

    @include bp.sm {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;

    padding: 1rem;
    background-color: var(--bg-tertiary);
    border: 1px solid var(--border);
    border-radius: 0.875rem;
    transition: var(--transition);

    &:hover {
      transform: translateY(-2px);
      border-color: color-mix(in srgb, var(--icon) 20%, transparent);
    }
  }

  &__icon {
    flex-shrink: 0;

    display: grid;
    place-items: center;

    width: 2.35rem;
    height: 2.35rem;
    background-color: color-mix(in srgb, var(--icon) 20%, transparent);
    color: var(--icon);
    border: 1px solid color-mix(in srgb, var(--icon) 20%, transparent);
    border-radius: 0.875rem;
    user-select: none;
    pointer-events: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &--label {
      text-transform: capitalize;
      font-size: var(--fz-xxs);
      color: var(--text-muted);
    }

    &--value {
      font-weight: 600;
      font-size: var(--fz-xs);
      font-variant: tabular-nums;
    }
  }
}
