@use '../../abstracts/responsive' as bp;

.repo-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  position: sticky;
  top: 5rem;
  height: fit-content;
  padding: 1.6rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  transition: var(--transition);

  @include bp.xl {
    position: static;
  }
}
