.repo-overview-card {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1.6rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  transition: var(--transition);

  &:hover {
    border-color: color-mix(in srgb, var(--icon) 20%, transparent);
    transform: translateY(-2px);
  }

  &__icon {
    flex-shrink: 0;

    display: grid;
    place-items: center;

    width: 3.5rem;
    height: 3.5rem;
    width: 2.75rem;
    height: 2.75rem;
    background-color: color-mix(in srgb, var(--icon) 12%, transparent);
    color: var(--icon);
    border: 1px solid color-mix(in srgb, var(--icon) 20%, transparent);
    border-radius: 100%;
    transition: var(--transition);

    svg {
      width: 1.8rem;
      height: 1.8rem;
      width: 1.4rem;
      height: 1.4rem;
      color: currentColor;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    text-transform: capitalize;

    &--label {
      display: block;
      font-size: var(--fz-xs);
      color: var(--text-muted);
    }

    &--value {
      display: block;
      font-weight: 600;
      font-size: var(--fz-sm);
    }
  }
}
