@use '../../abstracts/responsive' as bp;

.summary-card {
  padding: 1.6rem;
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  transition: var(--transition);

  @media (max-width: 50em) {
    padding: 1.6rem 1rem;
  }

  @include bp.md {
    padding: 1.6rem;
  }

  &:hover {
    transform: translateY(-2px);
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__icon {
    flex-shrink: 0;

    display: grid;
    place-items: center;

    width: 3.5rem;
    height: 3.5rem;
    background-color: color-mix(in srgb, var(--icon) 20%, transparent);
    color: var(--icon);
    border: 1px solid color-mix(in srgb, var(--icon) 20%, transparent);
    border-radius: 100%;
    transition: var(--transition);

    svg {
      width: 1.8rem;
      height: 1.8rem;
      color: currentColor;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    text-transform: capitalize;
  }

  &__label {
    display: block;
    font-size: var(--fz-xs);
    color: var(--text-muted);
  }

  &__value {
    font-weight: 600;
    font-size: var(--fz-sm);
  }
}
