.sidebar-compare {
  display: flex;
  gap: 1rem;

  margin-top: 2rem;

  &__link {
    &:link,
    &:visited {
      display: flex;
      gap: 1rem;

      padding: 1.6rem;
      background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.02)
      );
      color: var(--color-white-50);
      border: 1px solid rgba(255, 255, 255, 0.06);
      border-radius: var(--radius);
      transition: var(--transition);
    }

    svg {
      flex-shrink: 0;

      width: 2rem;
      height: 2rem;
      color: currentColor;
      stroke: currentColor;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:hover,
    &:focus-visible {
      border-color: color-mix(in srgb, var(--icon) 20%, transparent);
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: var(--shadow);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    &--heading {
      text-transform: capitalize;
      text-rendering: optimizeLegibility;
      font-weight: 500;
      font-size: 1.4rem;
      color: currentColor;
      line-height: 1.1;
    }

    &--description {
      font-size: var(--fz-xxs);
      color: var(--color-gray-400);
    }
  }
}
