@use '../../../abstracts/mixins' as *;
@use '../../../abstracts/animation';
@use '../../../abstracts/responsive' as bp;

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include bp.lg {
    align-items: center;
    text-align: center;
  }

  &__badge {
    align-self: start;

    display: inline-flex;
    align-items: center;
    gap: 0.6rem;

    font-family: var(--font-mono);
    font-weight: 600;
    font-size: var(--fz-sm);
    padding: 0.7rem 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--color-white-50);
    -webkit-backdrop-filter: blur(1.8rem);
    backdrop-filter: blur(1.8rem);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 10rem;
    user-select: none;
    pointer-events: none;
    margin-bottom: 2rem;

    @include bp.lg {
      align-self: center;
    }
  }

  &__title {
    display: inline-block;
    max-width: 70rem;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    font-size: 4rem;
    color: var(--color-white-50);
    letter-spacing: 1px;
    line-height: 1.1;

    @media (max-width: 40em) {
      font-size: 2.8rem;
    }
  }

  &__description {
    max-width: 62rem;
    font-size: var(--fz-xs);
    color: var(--color-gray-400);
    line-height: 1.9;
    margin-top: 1.75rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-top: 2.5rem;

    @media (max-width: 40em) {
      flex-direction: column;
    }

    &--btn-primary,
    &--btn-secondary {
      &:link,
      &:visited {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;

        min-width: 19.25rem;
        min-height: 5rem;
        text-transform: capitalize;
        font-weight: 600;
        font-size: var(--fz-sm);
        padding: 1rem 1.5rem;
        color: var(--color-white-50);
        border-radius: 0.875rem;
        border-radius: 100rem;
        transition: var(--transition);
        user-select: none;
      }

      svg {
        width: 1.8rem;
        height: 1.8rem;
        color: currentColor;
        opacity: 0.7;
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        opacity: 0.7;
        user-select: none;
        pointer-events: none;
      }
    }

    &--btn-primary {
      &:link,
      &:visited {
        background-color: var(--color-blue-800);
      }

      &:hover,
      &:focus-visible {
        transform: translateY(-4px);
        box-shadow: 0 1rem 4rem
          color-mix(in srgb, var(--color-blue-800) 20%, transparent);

        svg {
          opacity: 1;
        }
      }
    }

    &--btn-secondary {
      &:link,
      &:visited {
        border: 1px solid var(--color-gray-600);
        -webkit-backdrop-filter: blur(1.8rem);
        backdrop-filter: blur(1.8rem);
      }

      &:hover {
        border-color: var(--color-blue-800);

        svg {
          opacity: 1;
        }
      }

      &:focus-visible {
        @include focus-ring();
      }
    }
  }
}
